.place__title {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: left;
  color: #ffffff;
}

@media screen and (max-width: 890px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 700px) {
  .place__title {
    line-height: 35px;
    font-size: 32px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    margin-left: 16px;
    line-height: 35px;
    font-size: 32px;
  }
}
