.place__paragraph {
  max-width: 100%;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  color: #ffffff;
  margin: 0 0 26px;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    margin-left: 16px;
    margin-right: 16px;
  }
}
