.place__paragraph {
  width: 100%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  color: #ffffff;
  margin: 0 0 26px;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}
