.intro {
  margin: 92px 148px 0 148px;
  max-width: 984px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1280px) {
  .intro {
    margin: 92px auto 0;
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    margin: 92px 48px 0 48px;
  }
}

@media screen and (max-width: 800px) {
  .intro {
    margin: 48px auto 0;
  }
}
