.lead__subtitle {
  margin: 32px auto 0;
  max-width: 640px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    margin: 32px calc(100vw / 12) 0 calc(100vw / 12);
    font-weight: 400;
    font-size: calc(100vw / 25.6);
    line-height: calc(100vw / 21.3);
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    margin: 16px 16px 0;
    font-size: 16px;
    line-height: 20px;
  }
}
