.place__link {
  margin-top: 12px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: underline;
  transition: opacity 0.3s linear;
}

@media screen and (max-width: 320px) {
  .place__link {
    margin-left: 16px;
  }
}

.place__link:hover {
  opacity: 0.8;
}
