.intro__title {
  margin: 0 auto 0 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 58px;
  text-align: left;
  color: #ffffff;
}

@media screen and (max-width: 800px) {
  .intro__title {
    max-width: 720px;
    margin: 0 24px 0;
    font-size: 54px;
    line-height: 58px;
  }
}

@media screen and (max-width: 720px) {
  .intro__title {
    margin: 0 16px 0;
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (max-width: 400px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 16px 0;
  }
}
